body {
  margin: 0 auto;
  max-width: 96vw;
  width: 1600px;

}

#chart-container {
  margin: 0;
  padding: 2% 0;
  background-color: transparent;
}

#bar-chart {
  max-height: 68vw;
  height: 700px;
  position: relative;
}

#title {
  text-align: center;
  font-size: 2em;
}

#subhead {
  text-align: center;
  font-size: 1.22em;
}

#tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

rect {
  stroke-width: 1px;
  stroke: #000;
  fill: #333;
  fill-opacity: 0.2;
}
